<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="./assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="./assets/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>
<body>
    <div id="app">
        <div class="row justify-content-center">
            <div class="col-12 d-flex justify-content-center mb-3">
                <img class="img-sms" src="./assets/images/main-sms.png" alt="">
            </div>
            <div class="col-12">
                <p class="text-center text-danger m-0">
                    Lưu ý: Hệ thống sẽ tự động cập nhật dữ liệu bình chọn mới nên các bạn không cần tải lại trang
                </p>
            </div>
            <div class="votes px-3 py-2 col-lg-7 col-md-8 col-sm-9 col-12">
                <div class="votes__head d-flex justify-content-between py-2 align-items-center">
                    <span class="w-130">Xếp hạng</span>
                    <div class="d-flex w-100">
                        <span class="mr-1 mt-2 cursor-pointer" style="width: 90px;" @click="sort('ho_va_ten')">Thí sinh</span>
                        <input
                                type="text"
                                class="form-control find-user"
                                placeholder="Tìm kiếm thí sinh..."
                                style="width: 250px;"
                                v-model="query"
                                @input="searchUser">
                    </div>
                    <span class="text-right mt-2 cursor-pointer" style="width: 200px;" @click="sort('so_luot_binh_chon')">Lượt bình chọn</span>
                </div>
                <div class="votes__list ">
                    <div class="img-loading" v-if="isShown">
                        <img src="./assets/images/loading.gif" alt="" class="loading" >
                    </div> 
                    <div class="votes__list-item" v-for="(user, index) in searchUser" :key="`user_${index}`">
                        <div class="rank" style="width: 95px;">
                            <span>{{user.xep_hang}}</span>
                        </div>
                        <div class="img">
                            <img :src="user.hinh_anh_thi_sinh" alt="">
                        </div>
                        <div class="kid-info">
                            <h4>{{user.ho_va_ten}}</h4>
                            <small><i class="fas fa-birthday-cake"></i> 10/10/2020</small>
                            <p><i class="fas fa-map-marker-alt"></i> Hà Nội</p>
                            <p><strong class="text-warning">MSBC: {{user.so_bao_danh}}</strong></p>
                        </div>
                        <div class="count-vote">
                            <span>{{user.so_luot_binh_chon}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-database.js"></script>

<script>
    new Vue({
        el: '#app',
        data() {
            return {
                users: [],
                query: '',
                isShown: true
            }
        },

        created() {
          this.fetch();
        },

        methods: {
            fetch() {
                const self = this;
                let firebaseConfig = {
                    apiKey: "AIzaSyC4YUmtVxjWd6sIYb_j4jxSn1GUEYxTDyQ",
                    authDomain: "ikid-558b8.firebaseapp.com",
                    databaseURL: "https://ikid-558b8.firebaseio.com",
                    projectId: "ikid-558b8",
                    storageBucket: "ikid-558b8.appspot.com",
                    messagingSenderId: "231955149193",
                    appId: "1:231955149193:web:057855b939f4d120807158"
                };
                firebase.initializeApp(firebaseConfig);
                let ref = firebase.database().ref();

                ref.on("value", function(snapshot) {
                    self.isShown = false;
                    const respon = [...snapshot.val().user];
                    respon.sort((a,b) => (a.so_luot_binh_chon <b.so_luot_binh_chon) ? 1 : ((b.so_luot_binh_chon < a.so_luot_binh_chon) ? -1 : 0));
                    const data = [...respon.map((item, index) => ({
                        ...item,
                        xep_hang: index + 1
                    }))];
                    self.users = data;
                    
                }, function (error) {
                    console.log("Error: " + error.code);
                });
            },

            sort(type){
                // let ref = firebase.database().ref();
                // ref.orderByChild(type).on("child_added", function(snapshot) {
                //     // snapshot.val();
                //     const respon = snapshot.val();
                //     console.log(respon[0].so_luot_binh_chon)
                //     respon.sort((a,b) => (a.so_luot_binh_chon < b.so_luot_binh_chon) ? 1 : ((b.so_luot_binh_chon < a.so_luot_binh_chon) ? -1 : 0));
                //     self.users = respon;
                //     self.users = respon.map(item => {
                        
                //     })
                // });
            }

        },

        computed: {
            searchUser() {
                if(this.query){
                    return this.users.filter((item)=>{
                        return this.query.toLowerCase().split(' ').every(v => item.ho_va_ten.toLowerCase().includes(v))
                    })
                }else{
                    return this.users;
                }
            }
        }
    })
</script>
</body>
</html>