body{
    background: url("../images/background.png") no-repeat 0 0;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.votes {
    height: calc(100vh - 290px);
    background: #00000078;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 0 !important;
    flex: 1;
}
.votes__head {
    border-bottom: 1px solid;
    color: #efefef;
    padding-left: 10px;
    padding-right: 10px;
}

.votes__list {
    flex: 1;
    overflow-y: scroll;
    padding: 12px 20px;
    position: relative;
    padding-left: 0;
    display: flex;
    flex-direction: column;
}

.loading {
    width: auto;
    height: 100%;
}
.votes__list::-webkit-scrollbar-thumb {
    background-color: #000000bf;
    border-radius: 6px;
}
.votes__list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.votes__list::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}
.votes__list-item {
    display: flex;
    margin-bottom: 8px;
    cursor: pointer;
}

.votes__list-item .img {width: 90px;height: 90px;overflow: hidden;border-radius: 10px;box-shadow: 0 0 8px #f6bed3a6;border: 1.5px solid #fdd2e1;transition: all .4s ease-in-out;align-items: center;display: flex;}

.votes__list-item .img img {
    width: 100%;
    min-height: 100%;
}

.votes__list-item .kid-info {
    padding-left: 15px;
    color: #fff;
}

.votes__list-item .count-vote {
    width: 115px;
}

.kid-info h4 {
    margin-bottom: 0;
    font-size: 16px;
}

.kid-info small, .kid-info p {
    color: gainsboro;
}

.kid-info strong {
    font-size: 17px;
}

.kid-info p {
    margin-bottom: 0;
}

.count-vote {
    display: flex;
    align-items: center;
    justify-content: center;
}

.count-vote span {
    box-shadow: 0 0 8px #f6bed3a6;
    border: 1.5px solid #fdd2e1;
    padding: 4px 30px;
    color: #eaeaea;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 2px;
    text-align: center;
    border-radius:50px;
    position: relative;
    overflow: hidden!important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .2s ease-in-out;
    background: transparent!important;
    z-index:10;
    width: 100px;
}
.img-sms {
    width: 215px;
    margin-top: 10px;
}

.count-vote span:hover{
    border: 1px solid #57c7ec;
    color: #ffffff!important;
    text-shadow: 0 0 4px #06050487;
    cursor: pointer;
}
.count-vote span::before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #57c7ec;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -moz-transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
    box-shadow:2px 0px 14px rgba(0,0,0,.6);
}

.count-vote span::after {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #f0bcd2;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
    -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    transition: all .4s cubic-bezier(.2,.95,.57,.99);
    box-shadow: 2px 0px 14px rgba(0,0,0,.6);
}
.count-vote span:hover::before, .btn1O:hover::before{
    opacity:1;
    width: 116%;
}
.count-vote span:hover::after, .btn1O:hover::after{
    opacity:1;
    width: 120%;
}
.votes__list-item:hover .img {
    border-radius: 50%;
}
.img-loading {
    position: absolute;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    background: #e7dfdd;
    width: 100%;
    justify-content: center;
    display: flex;
    z-index: 9999;
}
.w-130 {
    width: 130px;
}
.rank {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px !important;
}

.rank span {
    border-radius: 50%;
    color: #fff;
    font-size: 23px;
    box-shadow: 0 0 8px #f6bed3a6;
    border: 1.5px solid #fdd2e1;
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.cursor-pointer {
    cursor: pointer;
}

.votes__list-item .info {
    display: flex;
    flex: 1;
}

@media (max-width: 556px) {
    * {}

.img-sms {
    width: 155px;
}

.votes__list {
    padding: 0;
}

.votes__list-item {
    border-bottom: 1px solid #dcaad2;
    padding-top: 15px;
    padding-bottom: 15px;
}

.votes__list-item .kid-info {
    width: 100%;
    text-align: center;
}

.votes__list-item .info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.votes {
    height: 500px;
}

body {
    background-repeat: repeat;
    height: auto !important;
    overflow-x: hidden;
}
}